<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.fubotv.cordova.ooyalaIMAPlugin"
    version="1.0.0">

    <name>OoyalaIMA Plugin</name>
    
    <description>cordova plugin for Ooyala IMA</description>
    
    <author>DongKai.Li - 1279182797@qq.com</author>
    
    <keywords>ooyala, cordova</keywords>
	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <license>MIT</license>

    <js-module src="www/ooyala_player.js" name="ooyalaIMAPlugin">
        <clobbers target="window.ooyalaIMA" />
    </js-module>

    <!-- android -->
    <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
		<feature name="OoyalaIMA" >
			<param name="android-package" value="com.fubotv.cordova.ooyalaIMA.OoyalaIMA"/>
		</feature>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
    	<uses-permission android:name="android.permission.INTERNET" />
    </config-file>
	
	<source-file src="src/android/libs/ima-android-sdk-beta8.jar" target-dir="libs" />
	<source-file src="src/android/libs/OoyalaIMASDK.jar" target-dir="libs" />
	<source-file src="src/android/libs/OoyalaSDK.jar" target-dir="libs" />

	<source-file src="src/android/layout/player.xml" target-dir="res/layout" />

    <source-file src="src/android/OoyalaIMA.java" 
            target-dir="src/com/fubotv/cordova/ooyalaIMA"/>
	<source-file src="src/android/Constants.java" 
            target-dir="src/com/fubotv/cordova/ooyalaIMA"/>
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <framework src="MediaAccessibility.framework" />
        <framework src="AdSupport.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />

        <header-file src="src/ios/Headers/GoogleIMA/IMAAd.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdDisplayContainer.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdError.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdEvent.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdPlaybackInfo.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdPodInfo.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdsLoader.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdsManager.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdsRenderingSettings.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAdsRequest.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAAVPlayerContentPlayhead.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMACompanionAdSlot.h" />
        <header-file src="src/ios/Headers/GoogleIMA/IMAContentPlayhead.h" />
        <header-file src="src/ios/Headers/OoyalaIMA/OOIMAAdPlayer.h" />
        <header-file src="src/ios/Headers/OoyalaIMA/OOIMAAdSpot.h" />
        <header-file src="src/ios/Headers/OoyalaIMA/OOIMAManager.h" />
        <header-file src="src/ios/Headers/Ooyala/OOAdPlugin.h" />
        <header-file src="src/ios/Headers/Ooyala/OOAdPluginManagerProtocol.h" />
        <header-file src="src/ios/Headers/Ooyala/OOAdSpot.h" />
        <header-file src="src/ios/Headers/Ooyala/OOAdSpotManager.h" />
        <header-file src="src/ios/Headers/Ooyala/OOAdSpotPlugin.h" />
        <header-file src="src/ios/Headers/Ooyala/OOAnalytics.h" />
        <header-file src="src/ios/Headers/Ooyala/OOAuthorizableItem.h" />
        <header-file src="src/ios/Headers/Ooyala/OOCallbacks.h" />
        <header-file src="src/ios/Headers/Ooyala/OOCaption.h" />
        <header-file src="src/ios/Headers/Ooyala/OOChannel.h" />
        <header-file src="src/ios/Headers/Ooyala/OOChannelSet.h" />
        <header-file src="src/ios/Headers/Ooyala/OOClientId.h" />
        <header-file src="src/ios/Headers/Ooyala/OOClosedCaptions.h" />
        <header-file src="src/ios/Headers/Ooyala/OOClosedCaptionsStyle.h" />
        <header-file src="src/ios/Headers/Ooyala/OOContentItem.h" />
        <header-file src="src/ios/Headers/Ooyala/OODebugMode.h" />
        <header-file src="src/ios/Headers/Ooyala/OODefaultPlayerInfo.h" />
        <header-file src="src/ios/Headers/Ooyala/OODynamicChannel.h" />
        <header-file src="src/ios/Headers/Ooyala/OOEmbeddedSecureURLGenerator.h" />
        <header-file src="src/ios/Headers/Ooyala/OOEmbeddedSignatureGenerator.h" />
        <header-file src="src/ios/Headers/Ooyala/OOEmbedTokenGenerator.h" />
        <header-file src="src/ios/Headers/Ooyala/OOFCCTVRating.h" />
        <header-file src="src/ios/Headers/Ooyala/OOFCCTVRatingConfiguration.h" />
        <header-file src="src/ios/Headers/Ooyala/OOLifeCycle.h" />
        <header-file src="src/ios/Headers/Ooyala/OOManagedAdSpot.h" />
        <header-file src="src/ios/Headers/Ooyala/OOModule.h" />
        <header-file src="src/ios/Headers/Ooyala/OOOoyalaAdSpot.h" />
        <header-file src="src/ios/Headers/Ooyala/OOOoyalaAPIClient.h" />
        <header-file src="src/ios/Headers/Ooyala/OOOoyalaError.h" />
        <header-file src="src/ios/Headers/Ooyala/OOOoyalaPlayer.h" />
        <header-file src="src/ios/Headers/Ooyala/OOOoyalaPlayerViewController.h" />
        <header-file src="src/ios/Headers/Ooyala/OOOptions.h" />
        <header-file src="src/ios/Headers/Ooyala/OOOrderedDictionary.h" />
        <header-file src="src/ios/Headers/Ooyala/OOPaginatedParentItem.h" />
        <header-file src="src/ios/Headers/Ooyala/OOPlayableItem.h" />
        <header-file src="src/ios/Headers/Ooyala/OOPlayer.h" />
        <header-file src="src/ios/Headers/Ooyala/OOPlayerDomain.h" />
        <header-file src="src/ios/Headers/Ooyala/OOPlayerInfo.h" />
        <header-file src="src/ios/Headers/Ooyala/OOPlayerProtocol.h" />
        <header-file src="src/ios/Headers/Ooyala/OOReturnState.h" />
        <header-file src="src/ios/Headers/Ooyala/OOSecureURLGenerator.h" />
        <header-file src="src/ios/Headers/Ooyala/OOSignatureGenerator.h" />
        <header-file src="src/ios/Headers/Ooyala/OOStateNotifier.h" />
        <header-file src="src/ios/Headers/Ooyala/OOStream.h" />
        <header-file src="src/ios/Headers/Ooyala/OOStreamPlayer.h" />
        <header-file src="src/ios/Headers/Ooyala/OOTBXML.h" />
        <header-file src="src/ios/Headers/Ooyala/OOUserInfo.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTAd.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTAdData.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTAdSpot.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTLinearAd.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTSequenceItem.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTStream.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTUtils.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVASTWrapperAd.h" />
        <header-file src="src/ios/Headers/Ooyala/OOVideo.h" />
    </platform>
    
</plugin>